<div id="grid" [ngStyle]="gridStyle" (window:resize)="onResize($event)">
    <div class="gridItem" [class.displayNone]="!col.visible" *ngFor="let col of columns">
        <div>{{col.name}}</div>
        <div>Always: {{col.alwaysVisible}}</div>
    </div>
</div>
