#grid {
    display: grid;
    grid-gap: 1em;
    font-family: Arial;
    font-size: 13px;
    background-color: antiquewhite;
    padding: 1em;
}

.gridItem {
    background-color: beige;
    padding: .5em;
}

.displayNone {
    display: none;
}
